body {
    display : flex;
    flex-direction: column;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;

}
#logo {
    position: absolute;
    left: 1em;
    top: 1em;
}
#title {
    flex: 1 1 1;
    margin-top: 0;
}
#mainbar {
    position: absolute;
    right: 1em;
    top: 1em;
}